<html>
    <body>
        <h1><%= title%></h1>
        <ul>
            <% messages.map((message) => { %>
                <li>
                    <h3><%= message.user ? message.user : "Anonymous" %> - <%= message.added.toLocaleDateString('en-Ca')%></h6>
                    <p><%= message.text %></p>
                    <a href="/<%= message.id %>">More Details</a>
                </li>
            <% }) %>
        </ul>
        <a href="/new">Create Message</a>
    </body>
</html>